<noscript><h2 style="color: #ff0000">Seems your browser doesn't support Javascript!
    Please enable Javascript and reload this page!</h2></noscript>
<div id="main-content" class="container">
  <h2>{{user.username}}</h2>
  <table class="table table-bordered table-striped">
    <thead>
    <tr>
      <th class="text-center">Game</th>
      <th class="text-center">Ranking</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let r of user.rankings">
      <td><a [routerLink]="['/games', r.gameName, 'rankings']">{{r.gameName}}</a></td>
      <td>{{r.value | round}}</td>
    </tr>
    </tbody>
  </table>
</div>
